* {
  box-sizing: border-box;
}
body {
  color: #e8ffc1;
  background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
h1 {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  text-align: center;
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 30px;
}
h2 {
  margin-top: 47px;
  font-size: 18px;
  margin-bottom: 0;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 42px;
  margin-top: 7px;
  font-weight: 600;
  font-family: "Zilla Slab", serif;
  color: #a5ecd7;
}
ul {
  text-align: center;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
a {
  color: black;
}

img {
  display: block;
  margin: 8px auto;
}
p {
  margin-top: 30px;
  margin-bottom: -15px;
  text-align: center;
  font-size: 14px;
  color: #51adcf;
}
.button {
  font-size: 16px;
  background-color: #a5ecd7;
  border-radius: 15px;
  border-color: black;
}
.search {
  margin: 0 60px;
}
.search-bar {
  border: 1px solid black;
  border-radius: 15px;
  padding: 4px;
}
.todays-temp {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

.main-card {
  margin: 0 auto;
  width: 550px;
  border-radius: 33px;
  border-color: black;
  border-style: solid;
  border-width: medium;
}
.card-body {
  height: fit-content;
}

.weather-forecast {
  margin-top: 37px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
#celsius-link,
#fahrenheit-link {
  color: #51adcf;
  text-decoration: none;
}
#app-background {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background: #0278ae;
}
